Repository huggingface/huggingface.js, pull requests merged in 2023-04, with the labels that each got.

#126 ✨ Add uploadFile(s) and deleteFile(s) helpers
  README.md
  packages/hub/README.md
  packages/hub/src/lib/commit.ts
  packages/hub/src/lib/deleteFile.spec.ts
  packages/hub/src/lib/deleteFile.ts
  packages/hub/src/lib/deleteFiles.spec.ts
  packages/hub/src/lib/deleteFiles.ts
  packages/hub/src/lib/uploadFile.spec.ts
  packages/hub/src/lib/uploadFile.ts
  packages/hub/src/lib/uploadFiles.spec.ts
  packages/hub/src/lib/uploadFiles.ts
Labels: hub

#128 🧑‍💻 Add aliases for repo names
  README.md
  packages/hub/README.md
  packages/hub/src/index.ts
  packages/hub/src/lib/commit.ts
  packages/hub/src/lib/create-repo.spec.ts
  packages/hub/src/lib/create-repo.ts
  packages/hub/src/lib/delete-repo.ts
  packages/hub/src/lib/deleteFile.ts
  packages/hub/src/lib/deleteFiles.ts
  packages/hub/src/lib/download-file.ts
  packages/hub/src/lib/file-download-info.ts
  packages/hub/src/lib/list-files.ts
  packages/hub/src/lib/uploadFile.ts
  packages/hub/src/lib/uploadFiles.ts
  packages/hub/src/types/public.d.ts
  packages/hub/src/utils/toRepoId.ts
Labels: hub

#141 Feature sentence fix
  packages/inference/README.md
  packages/inference/src/HfInference.ts
  packages/inference/test/HfInference.spec.ts
  packages/inference/test/tapes.json
Labels: enhancement, inference

#162 ✨ Add custom fetch for inference
  packages/inference/src/tasks/custom/request.ts
  packages/inference/src/tasks/custom/streamingRequest.ts
  packages/inference/src/types.ts
Labels: inference
