Repository huggingface/huggingface.js, pull requests merged in 2025-04, with the labels that each got.

#1326 Fix list-files test following xet migration in prod
  packages/hub/src/lib/list-files.spec.ts
  packages/hub/src/lib/list-files.ts
Labels: hub

#1365 [tasks] `{{QUANT_TAG}}` placeholder for all snippets
  packages/tasks/src/local-apps.spec.ts
  packages/tasks/src/local-apps.ts
Labels: tasks

#1260 Integrate Nscale-cloud into HuggingFace inference
  packages/inference/README.md
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/consts.ts
  packages/inference/src/providers/nscale.ts
  packages/inference/src/types.ts
  packages/inference/test/InferenceClient.spec.ts
Labels: inference-providers

#1352 Add Groq as an inference provider
  packages/inference/README.md
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/consts.ts
  packages/inference/src/providers/groq.ts
  packages/inference/src/types.ts
  packages/inference/test/InferenceClient.spec.ts
Labels: inference-providers

#1310 :sparkles: Support for Featherless.ai as inference provider.
  packages/inference/README.md
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/consts.ts
  packages/inference/src/providers/featherless-ai.ts
  packages/inference/src/types.ts
  packages/inference/test/InferenceClient.spec.ts
Labels: inference-providers

#1303 Add OVHcloud as an inference provider
  packages/inference/README.md
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/consts.ts
  packages/inference/src/providers/ovhcloud.ts
  packages/inference/src/types.ts
  packages/inference/test/InferenceClient.spec.ts
  packages/tasks/src/inference-providers.ts
Labels: inference-providers
