Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson

relative symlink
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

one more test
  packages/hub/src/utils/symlink.spec.ts
Owners: @coyotte508

comment out mocked tests
  packages/hub/src/lib/download-file-to-cache-dir.spec.ts
Owners: @coyotte508

add unit test for windows
  packages/hub/src/utils/symlink.spec.ts
Owners: @coyotte508

maybe I went too far
  packages/hub/src/lib/download-file-to-cache-dir.spec.ts
Owners: @coyotte508

use os-spcific dir instead of /tmp
  packages/hub/src/utils/symlink.spec.ts
Owners: @coyotte508

maybe all tests work on windows
  packages/hub/src/utils/symlink.spec.ts
Owners: @coyotte508

increase timeout
  packages/hub/vitest.config.mts
Owners: @coyotte508

remove internal loggin
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

Update model-libraries.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Add non-mocked test for symlink (#1308)
  packages/hub/src/lib/download-file-to-cache-dir.spec.ts
  packages/hub/src/lib/download-file-to-cache-dir.ts
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
  packages/hub/vitest.config.mts
Owners: @coyotte508

🔖 @huggingface/tasks 0.18.2
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/hub 1.1.2
  README.md
  packages/hub/package.json
Owners: @coyotte508

:sparkles: Support for Featherless.ai as inference provider.
  packages/inference/README.md
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/consts.ts
  packages/inference/src/providers/featherless-ai.ts
  packages/inference/src/tasks/nlp/textGeneration.ts
  packages/inference/src/types.ts
  packages/inference/test/InferenceClient.spec.ts
  packages/tasks/src/inference-providers.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson

ollama update 2025-03-24
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

[ollama-utils] 🤖 Auto-update chat templates (2025-03-24) (#1311)
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

review suggestions
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update model-libraries.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Update model-libraries.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add uni-3dar (#1309)
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

[Inference Providers] Async calls for `text-to-video` with fal.ai (#1292)
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/cerebras.ts
  packages/inference/src/providers/cohere.ts
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/fireworks-ai.ts
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/providers/hyperbolic.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/novita.ts
  packages/inference/src/providers/openai.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/providers/sambanova.ts
  packages/inference/src/providers/together.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/types.ts
  packages/inference/test/InferenceClient.spec.ts
  packages/inference/test/tapes.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

🔖 @huggingface/tasks 0.18.3
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

fix typos
  README.md
  packages/agents/README.md
  packages/hub/src/lib/oauth-login-url.ts
  packages/hub/src/types/api/api-model.ts
  packages/inference/test/vcr.ts
Owners: @nsarrazin, @coyotte508, @julien-c, @hanouticelina, @SBrandeis

Fix typos (#1312)
  README.md
  packages/agents/README.md
  packages/hub/src/lib/oauth-login-url.ts
  packages/hub/src/types/api/api-model.ts
  packages/inference/test/vcr.ts
Owners: @nsarrazin, @coyotte508, @julien-c, @hanouticelina, @SBrandeis

fix file-download-info
  packages/hub/src/lib/file-download-info.spec.ts
  packages/hub/src/lib/file-download-info.ts
Owners: @coyotte508

update download-file tests
  packages/hub/src/lib/download-file.spec.ts
  packages/hub/src/lib/download-file.ts
  packages/hub/src/lib/file-download-info.ts
Owners: @coyotte508

doc
  CONTRIBUTING.md
Owners: none

fix mocked tests
  packages/hub/src/lib/download-file-to-cache-dir.spec.ts
  packages/hub/src/lib/file-download-info.ts
Owners: @coyotte508

fix E2E
  packages/jinja/test/e2e.test.js
Owners: @xenova

Add 'prompt' input to image-to-image specs
  packages/tasks/src/tasks/image-to-image/inference.ts
  packages/tasks/src/tasks/image-to-image/spec/input.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Add 'prompt' input to image-to-image specs (#1313)
  packages/tasks/src/tasks/image-to-image/inference.ts
  packages/tasks/src/tasks/image-to-image/spec/input.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/tasks 0.18.4
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/inference 3.6.2
  README.md
  packages/inference/package.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

return request context in request function
  packages/inference/src/tasks/custom/request.ts
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

refactor providers
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/cerebras.ts
  packages/inference/src/providers/cohere.ts
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/fireworks-ai.ts
  packages/inference/src/providers/hyperbolic.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/novita.ts
  packages/inference/src/providers/openai.ts
  packages/inference/src/providers/providerHelper.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/providers/together.ts
  packages/inference/src/tasks/cv/textToImage.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/tasks/nlp/chatCompletion.ts
  packages/inference/src/tasks/nlp/textGeneration.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

nit
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/tasks/cv/textToImage.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/tasks/nlp/chatCompletion.ts
  packages/inference/src/tasks/nlp/textGeneration.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

nit
  packages/inference/src/lib/getProviderHelper.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

remove unnecessary check
  packages/inference/src/lib/getProviderHelper.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/tasks/src/hardware.ts
  packages/tasks/src/hardware.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

fix linting
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/cohere.ts
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/fireworks-ai.ts
  packages/inference/src/providers/hyperbolic.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/novita.ts
  packages/inference/src/providers/providerHelper.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/providers/together.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/tasks/nlp/chatCompletion.ts
  packages/inference/src/tasks/nlp/textGeneration.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508
