Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

add input output types
  packages/tasks/src/tasks/visual-document-retrieval/about.md
  packages/tasks/src/tasks/visual-document-retrieval/inference.ts
  packages/tasks/src/tasks/visual-document-retrieval/spec/input.json
  packages/tasks/src/tasks/visual-document-retrieval/spec/output.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

reload reconstruction info if expired
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

Add bg4 decompression algorithm
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

alternative implementation of bg4
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

remove only modifier
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

Add failing test
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

more failures
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

do not display symlink warning if env var is set
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

Docstrings from python lib
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

Use os.homedir() instead of process.env.HOME
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

More idiomatic commonPath
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

Add max cache size for symlink dict
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

fix: simplify code
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

remove symlink from browser tests
  packages/hub/vitest-browser.config.mts
Owners: @coyotte508

Fix download bug
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

add tip for running browser tests in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

add longer timeout on webblob tests
  packages/hub/src/utils/WebBlob.spec.ts
Owners: @coyotte508

debug xet test
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

log chrome version in runner
  .github/workflows/test.yml
Owners: none

add data.ts
  packages/tasks/src/tasks/visual-document-retrieval/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add data.ts
  packages/tasks/src/tasks/visual-document-retrieval/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

skip one xet test while inside browser
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

add models to data.ts
  packages/tasks/src/tasks/visual-document-retrieval/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

more tests with bigger timeout
  packages/hub/src/lib/list-files.spec.ts
Owners: @coyotte508

Remove the VCR test for Novita text-to-video
  packages/inference/test/tapes.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

add about.md
  packages/tasks/src/tasks/visual-document-retrieval/about.md
  packages/tasks/src/tasks/visual-document-retrieval/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add the task page to index.ts
  packages/tasks/src/tasks/index.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Remove the wan-2.1-t2i test.
  packages/inference/test/InferenceClient.spec.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

as .py
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/python/huggingface_hub/0.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/python/openai/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/python/openai/0.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/python/huggingface_hub/0.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/python/openai/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/python/openai/0.together.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/python/huggingface_hub/0.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/python/openai/0.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/python/openai/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/python/huggingface_hub/0.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/python/openai/0.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/python/openai/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/document-question-answering/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/document-question-answering/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/image-to-image/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/image-to-image/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/tabular/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-classification/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-classification/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-to-audio-transformers/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-to-image/python/fal_client/0.fal-ai.py
  packages/tasks-gen/snippets-fixtures/text-to-image/python/huggingface_hub/0.fal-ai.py
  packages/tasks-gen/snippets-fixtures/text-to-image/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-to-image/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-to-video/python/huggingface_hub/0.fal-ai.py
  packages/tasks-gen/snippets-fixtures/text-to-video/python/huggingface_hub/0.replicate.py
  packages/tasks-gen/snippets-fixtures/zero-shot-classification/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/zero-shot-image-classification/python/requests/0.hf-inference.py
Owners: none

first structure, let's add some jinja files now
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/index.ts
  packages/inference/src/snippets/templates/sh/curl/zeroShotClassification.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/huggingface.js/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/openai/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/openai/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/sh/curl/0.together.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/huggingface.js/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/openai/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/openai/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/sh/curl/0.together.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/huggingface.js/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/openai/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/openai/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/sh/curl/0.fireworks-ai.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/huggingface.js/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/openai/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/openai/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/sh/curl/0.fireworks-ai.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/text-classification/js/fetch/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-classification/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-classification/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/huggingface.js/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-to-image/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/text-to-video/js/huggingface.js/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-video/js/huggingface.js/0.replicate.js
  packages/tasks-gen/snippets-fixtures/zero-shot-classification/sh/curl/0.hf-inference.sh
  packages/tasks/src/snippets/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson

Add open-sora
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

ollama update 2025-03-17
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

fix: better handling of symlink (Windows,...) (#1272)
  packages/hub/src/lib/download-file-to-cache-dir.spec.ts
  packages/hub/src/lib/download-file-to-cache-dir.ts
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
  packages/hub/vitest-browser.config.mts
Owners: @coyotte508

feat. Add text-to-video - Wan2.1-T2V-14B from Novita (#1263)
  packages/inference/src/providers/novita.ts
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Expanded on docs; clearer example; more links to docs; explain why a reranker
  packages/tasks/src/tasks/text-ranking/about.md
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Apply suggestions from code review
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add basic curl
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/sh/curl/basic.jinja
  packages/tasks-gen/snippets-fixtures/text-classification/sh/curl/0.hf-inference.sh
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

headers first
  packages/inference/src/snippets/templates/sh/curl/basic.jinja
  packages/tasks-gen/snippets-fixtures/text-classification/sh/curl/0.hf-inference.sh
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Add Open-Sora as library (#1288)
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/tasks 0.17.5
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson
