Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson

XetBlob util (#1257)
  .github/workflows/test.yml
  CONTRIBUTING.md
  packages/hub/.eslintignore
  packages/hub/README.md
  packages/hub/src/index.ts
  packages/hub/src/lib/list-files.spec.ts
  packages/hub/src/utils/WebBlob.spec.ts
  packages/hub/src/utils/WebBlob.ts
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
  packages/hub/src/vendor/lz4js/LICENSE
  packages/hub/src/vendor/lz4js/index.ts
  packages/hub/src/vendor/lz4js/util.ts
  packages/hub/src/vendor/lz4js/xxh32.ts
Owners: @coyotte508

curl conversational
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/sh/curl/conversational.jinja
  packages/inference/src/snippets/templates/sh/curl/conversationalStream.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/sh/curl/0.together.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/sh/curl/0.together.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/sh/curl/0.fireworks-ai.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/sh/curl/0.fireworks-ai.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/text-classification/sh/curl/0.hf-inference.sh
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

🔖 @huggingface/hub 1.1.0
  README.md
  packages/hub/package.json
Owners: @coyotte508

add basicAudio basicImage
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/python/huggingface_hub/automaticSpeechRecognition.jinja
  packages/inference/src/snippets/templates/python/huggingface_hub/basic.jinja
  packages/inference/src/snippets/templates/python/huggingface_hub/basicAudio.jinja
  packages/inference/src/snippets/templates/python/huggingface_hub/basicImage.jinja
  packages/inference/src/snippets/templates/python/requests/basicAudio.jinja
  packages/inference/src/snippets/templates/python/requests/basicImage.jinja
  packages/inference/src/snippets/templates/sh/curl/basicAudio.jinja
  packages/inference/src/snippets/templates/sh/curl/basicImage.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/image-classification/python/huggingface_hub/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/image-classification/python/requests/0.hf-inference.py
  packages/tasks-gen/snippets-fixtures/image-classification/sh/curl/0.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/text-classification/python/huggingface_hub/0.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

basic js
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/js/fetch/basic.jinja
  packages/inference/src/snippets/templates/js/huggingface.js/basic.jinja
  packages/tasks-gen/snippets-fixtures/text-classification/js/fetch/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-classification/js/huggingface.js/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

hf.js conversational
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/js/huggingface.js/conversational.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/huggingface.js/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/huggingface.js/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-classification/js/fetch/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

hf.js conversational stream
  packages/inference/src/snippets/templates/js/huggingface.js/conversationalStream.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/huggingface.js/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/huggingface.js/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/huggingface.js/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

openai conversational
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/js/openai/conversational.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/openai/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/openai/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/openai/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/openai/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

openai conversational stream
  packages/inference/src/snippets/templates/js/openai/conversationalStream.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/js/openai/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/openai/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/js/openai/0.together.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/js/openai/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/openai/0.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/js/openai/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

zero shot classification JS
  packages/inference/src/snippets/templates/js/fetch/zeroShotClassification.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/zero-shot-classification/js/fetch/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

text to image JS client
  packages/inference/src/snippets/templates/js/huggingface.js/textToImage.jinja
  packages/tasks-gen/snippets-fixtures/text-to-image/js/huggingface.js/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/huggingface.js/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

[ollama-utils] 🤖 Auto-update chat templates (2025-03-17) (#1290)
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

text to image fetch hf-inference
  packages/inference/src/snippets/templates/js/fetch/textToImage.jinja
  packages/inference/src/snippets/templates/python/requests/textToImage.jinja
  packages/tasks-gen/snippets-fixtures/text-classification/js/fetch/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

textToVideo js
  packages/inference/src/snippets/templates/js/huggingface.js/textToVideo.jinja
  packages/tasks-gen/snippets-fixtures/text-to-video/js/huggingface.js/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-video/js/huggingface.js/0.replicate.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

text to audio JS
  packages/inference/src/snippets/templates/js/fetch/textToAudio.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/text-to-audio-transformers/js/fetch/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

basicAudio (ASR) JS
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/js/fetch/basicAudio.jinja
  packages/inference/src/snippets/templates/js/huggingface.js/basicAudio.jinja
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/js/fetch/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/js/huggingface.js/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

basic image JS
  packages/inference/src/snippets/common.ts
  packages/inference/src/snippets/templates/js/fetch/basicImage.jinja
  packages/inference/src/snippets/templates/js/huggingface.js/basicImage.jinja
  packages/tasks-gen/snippets-fixtures/image-classification/js/fetch/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/image-classification/js/huggingface.js/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Single getInferenceSnippets.ts module
  packages/inference/src/snippets/curl.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
  packages/inference/src/snippets/index.ts
  packages/inference/src/snippets/js.ts
  packages/inference/src/snippets/python.ts
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

piping
  packages/inference/src/snippets/getInferenceSnippets.ts
  packages/tasks/src/index.ts
  packages/tasks/src/snippets/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson

always run for all languages
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/js/fetch/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/js/huggingface.js/0.hf-inference.js
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/sh/curl/0.hf-inference.sh
Owners: none

fix test
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
Owners: none

add async calls for fal-ai
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/cerebras.ts
  packages/inference/src/providers/cohere.ts
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/fireworks-ai.ts
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/providers/hyperbolic.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/novita.ts
  packages/inference/src/providers/openai.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/providers/sambanova.ts
  packages/inference/src/providers/together.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

update fal output
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

remove comment
  packages/inference/src/providers/fal-ai.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix lint
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/cerebras.ts
  packages/inference/src/providers/cohere.ts
  packages/inference/src/providers/fireworks-ai.ts
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/providers/hyperbolic.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/novita.ts
  packages/inference/src/providers/openai.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/providers/sambanova.ts
  packages/inference/src/providers/together.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/lib/makeRequestOptions.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/providers/novita.ts
  packages/inference/src/providers/novita.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/fal-ai.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix DQA
  packages/inference/src/snippets/templates/python/requests/documentQuestionAnswering.jinja
  packages/tasks-gen/snippets-fixtures/document-question-answering/python/requests/0.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix
  packages/inference/src/providers/novita.ts
  packages/inference/src/snippets/python.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/snippets/getInferenceSnippets.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

sh_clients
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/snippets/getInferenceSnippets.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/snippets/getInferenceSnippets.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
Owners: none

Add `text-ranking` pipeline tag (#1267)
  packages/tasks/src/pipelines.ts
  packages/tasks/src/tasks/index.ts
  packages/tasks/src/tasks/sentence-similarity/about.md
  packages/tasks/src/tasks/sentence-similarity/data.ts
  packages/tasks/src/tasks/text-ranking/about.md
  packages/tasks/src/tasks/text-ranking/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

fixes
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508
