Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson

flexible approach
  packages/tasks/src/local-apps.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add araclip
  packages/tasks/src/model-libraries-snippets.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

ollama update 2025-03-10
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

add MatAnyone (#1261)
  packages/tasks/src/model-libraries-snippets.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add araclip (#1264)
  packages/tasks/src/model-libraries-snippets.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/tasks 0.17.4
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

[ollama-utils] 🤖 Auto-update chat templates (2025-03-10) (#1265)
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

🔖 @huggingface/ollama-utils 0.0.4
  packages/ollama-utils/package.json
Owners: @ngxson

[Inference providers] Root-only base URLs
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/fireworks-ai.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

do not bundle snippets code if browser mode
  packages/inference/package.json
  packages/inference/src/snippets/python.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

add tsup config
  packages/inference/tsup.config.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

test
  packages/inference/package.json
  packages/inference/src/index.ts
  packages/inference/src/snippets/index.ts
  packages/inference/tsup.config.ts
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

remove for now
  packages/inference/package.json
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

nit
  packages/inference/src/snippets/python.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

[Inference providers] Root-only base URLs (#1266)
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/fireworks-ai.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

revert custom import
  packages/inference/src/index.ts
  packages/inference/src/snippets/index.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix package.json definition
  packages/inference/package.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Do not export ./snippets module in browser mode (#1259)
  packages/inference/package.json
  packages/inference/src/index.ts
  packages/inference/tsup.config.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Add text-ranking pipeline tag
  packages/tasks/src/pipelines.ts
  packages/tasks/src/tasks/index.ts
  packages/tasks/src/tasks/text-ranking/about.md
  packages/tasks/src/tasks/text-ranking/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Update sentence-similarity docs slightly
  packages/tasks/src/tasks/sentence-similarity/about.md
  packages/tasks/src/tasks/sentence-similarity/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Update model names following rename
  packages/tasks/src/tasks/text-ranking/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add clone() to XetBlob
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

filter jinja in ci test
  .github/workflows/test.yml
Owners: none

handle both ESM and CJS ?
  packages/inference/src/snippets/python.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

first step in xet protocol: get reconstruction info
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

add --allow-read flag for deno import
  .github/workflows/test.yml
Owners: none

Sentence Ranking -> Text Ranking
  packages/tasks/src/pipelines.ts
  packages/tasks/src/tasks/text-ranking/about.md
  packages/tasks/src/tasks/text-ranking/data.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

basic test
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

feat. Add text-to-video - Wan2.1-T2V-14B from Novita
  packages/inference/src/providers/novita.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/test/InferenceClient.spec.ts
  packages/inference/test/tapes.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

🔖 @huggingface/inference 3.5.2
  README.md
  packages/inference/package.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Fix the CI errors.
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

ollama update 2025-03-12
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

🔖 @huggingface/ollama-utils 0.0.5
  packages/ollama-utils/package.json
Owners: @ngxson

[ollama-utils] 🤖 Auto-update chat templates (2025-03-12) (#1271)
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

🔖 @huggingface/ollama-utils 0.0.6
  packages/ollama-utils/package.json
Owners: @ngxson

Progress in reconstruction algorithm
  CONTRIBUTING.md
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix: better handling of symlink (Windows,...)
  packages/hub/src/lib/download-file-to-cache-dir.spec.ts
  packages/hub/src/lib/download-file-to-cache-dir.ts
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

Split makeRequestOptions into sync and async parts
  packages/inference/src/lib/makeRequestOptions.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Make snippets depend on makeRequestOptionsFromResolvedModel
  packages/inference/package.json
  packages/inference/src/snippets/python.ts
  packages/inference/src/snippets/templates/python/huggingface_hub/conversational.jinja
  packages/inference/src/snippets/templates/python/huggingface_hub/conversationalStream.jinja
  packages/inference/src/snippets/templates/python/openai/conversational.jinja
  packages/inference/src/snippets/templates/python/openai/conversationalStream.jinja
  packages/inference/src/snippets/templates/python/requests/conversational.jinja
  packages/inference/src/snippets/templates/python/requests/importRequests.jinja
  packages/tasks-gen/pnpm-lock.yaml
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.curl.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.curl.together.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.huggingface.js.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.huggingface.js.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.openai.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.openai.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/2.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/2.openai.together.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508
