Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson

fix lint cc @Wauplin
  packages/inference/src/lib/makeRequestOptions.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

remove 'only' in tests
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

do not run mocked tests on browser
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

Revert "remove logging altogether"
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

add back logging to check why browser test fails
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

one more mocked test
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

actually log stuff
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

tweak internal loggin
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

temporarily store test data
  packages/hub/src/utils/browser-test-log.txt
  packages/hub/src/utils/node-test-log.txt
Owners: @coyotte508

Update packages/inference/src/types.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

try mocked tests in browser again
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

log timestamps
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

more logs
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

more logs
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

remove tmp txt log files
  packages/hub/src/utils/browser-test-log.txt
  packages/hub/src/utils/node-test-log.txt
Owners: @coyotte508

Add missing import for text-ranking in TASKS_DATA
  packages/tasks/src/tasks/index.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Add missing import for text-ranking in TASKS_DATA (#1298)
  packages/tasks/src/tasks/index.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/tasks 0.17.9
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Fix tasks versions
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

fix: correct source and destination parameters in symlink operations
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

listener in xet blob
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix: correct source and destination parameters in symlink operations (#1301)
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

🔖 @huggingface/tasks 0.18.1
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/hub 1.1.1
  README.md
  packages/hub/package.json
Owners: @coyotte508

log range from remote
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix status and result urls construction
  packages/inference/src/providers/fal-ai.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Format \t tabs to ' ' 4 spaces
  packages/tasks/src/snippets/inputs.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

more listener event
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

no date logs
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

add a mocked test
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

Efficient Xet download (#1295)
  packages/hub/src/lib/list-files.spec.ts
  packages/hub/src/lib/parse-safetensors-metadata.spec.ts
  packages/hub/src/lib/upload-file.spec.ts
  packages/hub/src/utils/RangeList.spec.ts
  packages/hub/src/utils/RangeList.ts
  packages/hub/src/utils/WebBlob.spec.ts
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
  packages/hub/vitest-browser.config.mts
  packages/hub/vitest.config.mts
Owners: @coyotte508

add ovhcloud inference provider
  packages/inference/README.md
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/consts.ts
  packages/inference/src/providers/ovhcloud.ts
  packages/inference/src/types.ts
  packages/inference/test/InferenceClient.spec.ts
  packages/tasks/src/inference-providers.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson

Update hardware.ts
  packages/tasks/src/hardware.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

[nit] Format \t tabs to ' ' 4 spaces in snippets inputs (#1302)
  packages/tasks/src/snippets/inputs.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Download using xet
  packages/hub/src/lib/commit.spec.ts
  packages/hub/src/lib/download-file-to-cache-dir.ts
  packages/hub/src/lib/download-file.spec.ts
  packages/hub/src/lib/download-file.ts
  packages/hub/src/lib/file-download-info.ts
  packages/hub/src/utils/WebBlob.ts
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix file-download-info test
  packages/hub/src/lib/file-download-info.spec.ts
Owners: @coyotte508

safetensors
  packages/hub/src/lib/download-file.ts
  packages/hub/src/lib/parse-safetensors-metadata.ts
  packages/hub/src/utils/WebBlob.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

load etag & size from xet payload
  packages/hub/src/lib/file-download-info.ts
Owners: @coyotte508

fix: createSymlink deletes the wrong file
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508

Add non-mocked test for symlink
  packages/hub/src/lib/download-file-to-cache-dir.ts
  packages/hub/src/utils/symlink.spec.ts
  packages/hub/src/utils/symlink.ts
Owners: @coyotte508
