Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

ollama update 2025-03-18
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

🔖 @huggingface/tasks 0.17.6
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

use 0.5s for the interval polling
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/tasks/cv/textToVideo.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

remove text-to-video tests
  packages/inference/test/InferenceClient.spec.ts
  packages/inference/test/tapes.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

🔖 @huggingface/tasks 0.17.7
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Add RangeList util
  packages/hub/src/utils/RangeList.ts
Owners: @coyotte508

🔖 @huggingface/ollama-utils 0.0.7
  packages/ollama-utils/package.json
Owners: @ngxson

add testToImage fetch js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.fal-ai.js
Owners: none

not const
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

type fix
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

(wip) adapt download algorithm to use range list
  packages/hub/src/utils/RangeList.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

add RangeList tests
  packages/hub/src/utils/RangeList.spec.ts
  packages/hub/src/utils/RangeList.ts
Owners: @coyotte508

Fix test
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix lint cc @ngxson
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

Actually fix lint at source
  packages/ollama-utils/scripts/generate-automap.ts
Owners: @ngxson

Debug browser tests
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

more logs
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

more logs
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

more logs
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

more logs
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix browser test?
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fixup! fix browser test?
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix when regurgating duplicated data
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

set global timeout
  packages/hub/src/lib/list-files.spec.ts
  packages/hub/src/lib/parse-safetensors-metadata.spec.ts
  packages/hub/src/lib/upload-file.spec.ts
  packages/hub/src/utils/WebBlob.spec.ts
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/vitest-browser.config.mts
  packages/hub/vitest.config.mts
Owners: @coyotte508

more logs
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

Remove logs in prod
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fixup! Remove logs in prod
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

remove logging altogether
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

🔖 @huggingface/tasks 0.17.8
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/inference 3.6.0
  README.md
  packages/inference/package.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Export jinja files as TS module at build time
  packages/inference/.gitignore
  packages/inference/package.json
  packages/inference/scripts/generate-templates.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

export as ./templates.exported
  packages/inference/.gitignore
  packages/inference/package.json
  packages/inference/scripts/export-templates.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

remove tsup config
  packages/inference/tsup.config.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Export jinja files as TS module at build time (#1296)
  packages/inference/.gitignore
  packages/inference/package.json
  packages/inference/scripts/export-templates.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
  packages/inference/tsup.config.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

🔖 @huggingface/inference 3.6.1
  README.md
  packages/inference/package.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

[InferenceClient] Support billTo option
  packages/inference/src/config.ts
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

rephrase
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

rephrase
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

add more unit tests
  packages/hub/src/utils/XetBlob.spec.ts
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

other data interval pattern
  packages/hub/src/utils/XetBlob.spec.ts
Owners: @coyotte508

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson
