Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

implement individual classes for sambanova, cohere and cerebras
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/sambanova.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

add hf-inference helpers
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/tasks/cv/textToImage.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/tasks/nlp/chatCompletion.ts
  packages/inference/src/tasks/nlp/textGeneration.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix text-to-image
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/tasks/cv/textToImage.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix sentence similarity inputs
  packages/inference/src/tasks/nlp/sentenceSimilarity.ts
  packages/tasks/src/tasks/sentence-similarity/inference.ts
  packages/tasks/src/tasks/sentence-similarity/spec/input.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson

re-record sentence similarity cassette
  packages/inference/test/tapes.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

[Inference] Fix sentence-similarity inputs (#1316)
  packages/inference/src/tasks/nlp/sentenceSimilarity.ts
  packages/inference/test/tapes.json
  packages/tasks/src/tasks/sentence-similarity/inference.ts
  packages/tasks/src/tasks/sentence-similarity/spec/input.json
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson

use conversational task
  packages/inference/src/tasks/nlp/chatCompletionStream.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

backward compatibility hf-inference tasks
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/providers/hf-inference.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update README.md
  packages/inference/README.md
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

hardware: add M3 Ultra (#1304)
  packages/tasks/src/hardware.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

[InferenceClient] Support `billTo` header (#1297)
  packages/inference/src/config.ts
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix tests
  packages/inference/src/lib/getProviderHelper.ts
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/providers/hyperbolic.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/providerHelper.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/providers/together.ts
  packages/inference/src/tasks/audio/automaticSpeechRecognition.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fixes
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/novita.ts
  packages/inference/src/providers/providerHelper.ts
  packages/inference/src/snippets/getInferenceSnippets.ts
  packages/inference/src/tasks/audio/automaticSpeechRecognition.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

add text-to-audio
  packages/inference/src/lib/getProviderHelper.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

improvements and lint
  packages/inference/src/providers/black-forest-labs.ts
  packages/inference/src/providers/fal-ai.ts
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/providers/providerHelper.ts
  packages/inference/src/providers/replicate.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix snippets
  packages/inference/src/snippets/templates/js/fetch/textToImage.jinja
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

nit
  packages/inference/src/snippets/templates/js/fetch/textToImage.jinja
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.hf-inference.js
Owners: none

remove code and add missing tasks for replicate
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/providers/replicate.ts
  packages/inference/src/tasks/audio/textToSpeech.ts
  packages/inference/src/tasks/custom/request.ts
  packages/inference/src/tasks/custom/streamingRequest.ts
  packages/inference/src/tasks/nlp/chatCompletion.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

nit
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

use asTsString
  packages/inference/src/snippets/templates/js/fetch/textToImage.jinja
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

ollama update 2025-03-28
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

ollama update 2025-03-31
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

add lightning-ir library
  packages/tasks/src/model-libraries-snippets.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

[Snippets] Fix text-to-image fetch snippets (#1317)
  packages/inference/src/snippets/templates/js/fetch/textToImage.jinja
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.hf-inference.js
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

deprecate request and streamingRequest
  packages/inference/README.md
  packages/inference/src/tasks/audio/audioClassification.ts
  packages/inference/src/tasks/audio/audioToAudio.ts
  packages/inference/src/tasks/audio/automaticSpeechRecognition.ts
  packages/inference/src/tasks/audio/textToSpeech.ts
  packages/inference/src/tasks/custom/request.ts
  packages/inference/src/tasks/custom/streamingRequest.ts
  packages/inference/src/tasks/cv/imageClassification.ts
  packages/inference/src/tasks/cv/imageSegmentation.ts
  packages/inference/src/tasks/cv/imageToImage.ts
  packages/inference/src/tasks/cv/imageToText.ts
  packages/inference/src/tasks/cv/objectDetection.ts
  packages/inference/src/tasks/cv/textToImage.ts
  packages/inference/src/tasks/cv/textToVideo.ts
  packages/inference/src/tasks/cv/zeroShotImageClassification.ts
  packages/inference/src/tasks/multimodal/documentQuestionAnswering.ts
  packages/inference/src/tasks/multimodal/visualQuestionAnswering.ts
  packages/inference/src/tasks/nlp/chatCompletion.ts
  packages/inference/src/tasks/nlp/chatCompletionStream.ts
  packages/inference/src/tasks/nlp/featureExtraction.ts
  packages/inference/src/tasks/nlp/fillMask.ts
  packages/inference/src/tasks/nlp/questionAnswering.ts
  packages/inference/src/tasks/nlp/sentenceSimilarity.ts
  packages/inference/src/tasks/nlp/summarization.ts
  packages/inference/src/tasks/nlp/tableQuestionAnswering.ts
  packages/inference/src/tasks/nlp/textClassification.ts
  packages/inference/src/tasks/nlp/textGeneration.ts
  packages/inference/src/tasks/nlp/textGenerationStream.ts
  packages/inference/src/tasks/nlp/tokenClassification.ts
  packages/inference/src/tasks/nlp/translation.ts
  packages/inference/src/tasks/nlp/zeroShotClassification.ts
  packages/inference/src/tasks/tabular/tabularClassification.ts
  packages/inference/src/tasks/tabular/tabularRegression.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

missing file
  packages/inference/src/utils/request.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Update packages/tasks/src/model-libraries-snippets.ts
  packages/tasks/src/model-libraries-snippets.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

Update packages/tasks/src/model-libraries-snippets.ts
  packages/tasks/src/model-libraries-snippets.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add lightning-ir library (#1320)
  packages/tasks/src/model-libraries-snippets.ts
  packages/tasks/src/model-libraries.ts
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

🔖 @huggingface/tasks 0.18.5
  packages/tasks/package.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

do not make any extra API call when endpoint URL is directly specified
  packages/inference/src/lib/makeRequestOptions.ts
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix snippet lint
  packages/inference/src/snippets/getInferenceSnippets.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

update comment
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fixup! update comment
  packages/inference/src/types.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix replicate error (poorly)
  packages/inference/src/providers/replicate.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

regenerate fal-ai snippet
  packages/tasks-gen/snippets-fixtures/text-to-image/js/fetch/0.fal-ai.js
Owners: none

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson
