Repository huggingface/huggingface.js, changes with the owners that CODEOWNERS names for each.
All owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508, @gary149, @Wauplin, @pcuenca, @ngxson, @nsarrazin, @xenova, @mishig25, @enzostvs

revert back to hf_token
  packages/inference/src/snippets/python.ts
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.curl.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.curl.together.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.huggingface.js.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.huggingface.js.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/0.huggingface_hub.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.openai.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.openai.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/2.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/2.openai.together.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

parse chunks
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

ASR
  packages/inference/src/snippets/templates/python/huggingface_hub/automaticSpeechRecognition.jinja
  packages/inference/src/snippets/templates/python/requests/automaticSpeechRecognition.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/automatic-speech-recognition/1.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

conversational-llm-stream
  packages/inference/src/snippets/templates/python/openai/conversationalStream.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/0.curl.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/0.curl.together.sh
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/0.huggingface.js.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/0.huggingface.js.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/0.huggingface_hub.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.openai.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.openai.together.js
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.openai.together.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

go back to simpler stream handling
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

VLMs + fix in InferenceClient
  packages/inference/src/providers/fireworks-ai.ts
  packages/inference/src/providers/hf-inference.ts
  packages/inference/src/providers/nebius.ts
  packages/inference/src/providers/novita.ts
  packages/inference/src/providers/sambanova.ts
  packages/inference/src/providers/together.ts
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/0.curl.fireworks-ai.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/0.curl.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/0.huggingface.js.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/0.huggingface.js.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/0.huggingface_hub.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.openai.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.openai.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/2.openai.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/2.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/0.curl.fireworks-ai.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/0.curl.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/0.huggingface.js.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/0.huggingface.js.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/0.huggingface_hub.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.openai.fireworks-ai.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.openai.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.openai.hf-inference.js
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.openai.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

DQA
  packages/inference/src/snippets/python.ts
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/document-question-answering/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/document-question-answering/1.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

imageToImage
  packages/inference/src/snippets/python.ts
  packages/inference/src/snippets/templates/python/huggingface_hub/imageToImage.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/image-to-image/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/image-to-image/1.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

only read necessary data
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

tabular
  packages/inference/src/snippets/templates/python/requests/tabular.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/tabular/0.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

text-to-aduio
  packages/inference/src/snippets/templates/python/requests/textToAudio.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/text-to-audio-transformers/0.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

text-to-image
  packages/inference/src/snippets/python.ts
  packages/inference/src/snippets/templates/python/fal_client/textToImage.jinja
  packages/inference/src/snippets/templates/python/huggingface_hub/textToImage.jinja
  packages/inference/src/snippets/templates/python/requests/textToImage.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/text-to-image/0.curl.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/text-to-image/0.huggingface.js.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-image/0.huggingface.js.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-to-image/0.huggingface_hub.fal-ai.py
  packages/tasks-gen/snippets-fixtures/text-to-image/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-to-image/1.fal_client.fal-ai.py
  packages/tasks-gen/snippets-fixtures/text-to-image/1.fetch.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-to-image/1.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

text-to-video
  packages/inference/src/snippets/templates/python/huggingface_hub/textToVideo.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/text-to-video/0.huggingface.js.fal-ai.js
  packages/tasks-gen/snippets-fixtures/text-to-video/0.huggingface.js.replicate.js
  packages/tasks-gen/snippets-fixtures/text-to-video/0.huggingface_hub.fal-ai.py
  packages/tasks-gen/snippets-fixtures/text-to-video/0.huggingface_hub.replicate.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

basic
  packages/inference/src/snippets/templates/python/huggingface_hub/basic.jinja
  packages/inference/src/snippets/templates/python/requests/basic.jinja
  packages/inference/src/snippets/templates/python/requests/basicFile.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

text-classification
  packages/tasks-gen/snippets-fixtures/text-classification/0.curl.hf-inference.sh
  packages/tasks-gen/snippets-fixtures/text-classification/0.huggingface.js.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-classification/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/text-classification/1.fetch.hf-inference.js
  packages/tasks-gen/snippets-fixtures/text-classification/1.requests.hf-inference.py
Owners: none

basic-snippet--token-classification
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/0.huggingface_hub.hf-inference.py
  packages/tasks-gen/snippets-fixtures/basic-snippet--token-classification/1.requests.hf-inference.py
Owners: none

zero shot class
  packages/inference/src/snippets/templates/python/requests/zeroShotClassification.jinja
  packages/inference/src/snippets/templates/python/requests/zeroShotImageClassification.jinja
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/zero-shot-classification/0.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

zero shot image class
  packages/tasks-gen/scripts/generate-snippets-fixtures.ts
  packages/tasks-gen/snippets-fixtures/zero-shot-image-classification/0.requests.hf-inference.py
Owners: none

textToAduio
  packages/inference/src/snippets/templates/python/requests/textToAudio.jinja
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

remove conversational requests for now
  packages/inference/src/snippets/templates/python/requests/conversational.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.openai.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.openai.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

add lz4 dependency
  packages/hub/README.md
  packages/hub/package.json
  packages/hub/pnpm-lock.yaml
Owners: @coyotte508

fix typing
  packages/inference/src/snippets/python.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

fix lock
  packages/tasks-gen/pnpm-lock.yaml
Owners: none

Support LZ4 decompression
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

might fix?
  packages/inference/src/lib/makeRequestOptions.ts
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

better description of file format
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

can skip whole chunks at the start of the term
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fixup! can skip whole chunks at the start of the term
  packages/hub/src/utils/XetBlob.ts
Owners: @coyotte508

fix lint
  packages/ollama-utils/src/chat-template-automap.ts
Owners: @ngxson

Update tasks specs (automated commit)
  packages/tasks/src/tasks/chat-completion/inference.ts
  packages/tasks/src/tasks/chat-completion/spec/input.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

[Bot] Update tasks specs (#1281)
  packages/tasks/src/tasks/chat-completion/inference.ts
  packages/tasks/src/tasks/chat-completion/spec/input.json
Owners: @SBrandeis, @gary149, @Wauplin, @julien-c, @pcuenca, @ngxson

add Python request conversational
  packages/inference/src/snippets/templates/python/requests/conversational.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/2.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/2.openai.together.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/2.openai.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/2.openai.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Add conversational snippets for requests
  packages/inference/src/snippets/python.ts
  packages/inference/src/snippets/templates/python/openai/conversationalStream.jinja
  packages/inference/src/snippets/templates/python/requests/conversational.jinja
  packages/inference/src/snippets/templates/python/requests/conversationalStream.jinja
  packages/inference/src/snippets/templates/python/requests/importRequests.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/2.openai.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/2.openai.together.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.requests.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/2.openai.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/2.openai.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

export xet blob
  packages/hub/src/index.ts
Owners: @coyotte508

better
  packages/inference/src/snippets/templates/python/requests/conversationalStream.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.requests.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Pass provider inputs in raw payloads
  packages/inference/src/snippets/python.ts
  packages/inference/src/snippets/templates/python/requests/automaticSpeechRecognition.jinja
  packages/inference/src/snippets/templates/python/requests/basic.jinja
  packages/inference/src/snippets/templates/python/requests/basicFile.jinja
  packages/inference/src/snippets/templates/python/requests/conversational.jinja
  packages/inference/src/snippets/templates/python/requests/conversationalStream.jinja
  packages/inference/src/snippets/templates/python/requests/documentQuestionAnswering.jinja
  packages/inference/src/snippets/templates/python/requests/imageToImage.jinja
  packages/inference/src/snippets/templates/python/requests/tabular.jinja
  packages/inference/src/snippets/templates/python/requests/textToAudio.jinja
  packages/inference/src/snippets/templates/python/requests/textToImage.jinja
  packages/inference/src/snippets/templates/python/requests/zeroShotClassification.jinja
  packages/inference/src/snippets/templates/python/requests/zeroShotImageClassification.jinja
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-non-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-llm-stream/1.requests.together.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-non-stream/1.requests.hf-inference.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.requests.fireworks-ai.py
  packages/tasks-gen/snippets-fixtures/conversational-vlm-stream/1.requests.hf-inference.py
Owners: @julien-c, @hanouticelina, @SBrandeis, @coyotte508

Add missing LICENSE for vendored code
  CONTRIBUTING.md
  packages/hub/src/vendor/hash-wasm/LICENSE
  packages/hub/src/vendor/type-fest/license-cc0
  packages/hub/src/vendor/type-fest/license-mit
  packages/inference/src/vendor/fetch-event-source/LICENSE
Owners: @coyotte508, @julien-c, @hanouticelina, @SBrandeis

Vendor lz4js
  packages/hub/.eslintignore
  packages/hub/package.json
  packages/hub/pnpm-lock.yaml
  packages/hub/src/utils/XetBlob.ts
  packages/hub/src/vendor/lz4js/LICENSE
  packages/hub/src/vendor/lz4js/index.ts
  packages/hub/src/vendor/lz4js/util.ts
  packages/hub/src/vendor/lz4js/xxh32.ts
Owners: @coyotte508

Use more recent version of lz4js
  packages/hub/src/vendor/lz4js/index.ts
Owners: @coyotte508

Fix lint in vscode/settings.json
  .vscode/settings.json
  packages/hub/src/lib/upload-file.spec.ts
Owners: @coyotte508

CODEOWNERS:

# Ownership for the Inference Package

/packages/inference/ @julien-c @hanouticelina @SBrandeis @coyotte508

# Ownership for the Tasks Package

/packages/tasks/ @SBrandeis @gary149 @Wauplin @julien-c @pcuenca @ngxson

# Ownership for the Hub Package

/packages/hub/ @coyotte508

# Ownership for the Agents Package

/packages/agents/ @nsarrazin

# Ownership for the Jinja Package

/packages/jinja/ @xenova

# Ownership for the gguf Package

/packages/gguf @mishig25 @ngxson @julien-c

# Ownership for the space-header Package

/packages/space-header @enzostvs

# Ownership for the ollama-utils Package

/packages/ollama-utils @ngxson
